<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=", UK">
    <meta name="keywords" content="black, women, health, wellness, mindfullness, UK">
       
    <title>Coca Women Wellness</title>
    <!--Css Style -->
    {% comment %} <link rel="stylesheet" href="{% static 'users/css/main.css' %}" type="text/css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'users/assets/css/style.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'users/chatbot-frontend/chatbot-style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap" rel="stylesheet">

    <!--The stytlesheet below is linked this way as it links to the local bootstrap css and js folders on my device and included in this repo. Source[https://getbootstrap.com/docs/4.0/getting-started/introduction/]-->
    <link rel="stylesheet" href="users/assets/css/bootstrap-sourcecode/bootstrap.min.css">

  </head>

  <body id="bg" style="background-image: url({% static 'users/images/bg.png' %});">
  {% load static %}
  <aside>
    <img class="img-index" src="{% static 'users/assets/images/pexels-photo-1666073.jpeg' %}" alt="young lady in yellow dress smiling"> 
  </aside>

  <header>
    <!--Nav bar code has been sourced from Bootstrap.com. However, I have customsied some of the elements Origin Source:[https://getbootstrap.com/docs/4.0/components/navbar/]-->
    <nav class="navbar navbar-expand-lg navbar-custom navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--Do not change this <a> tag as it holds the logo for the website-->
        <a href="index.html"><img src="{% static 'users/assets/images/logowtextncb72dpi.png' %} " alt="woman with outlined face logo" id="img-logo"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/in-logo-1.svg' %}" alt="" ></a>
            <ul class="navbar-nav mr-auto" id="menu">
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="about.html">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="recipes.html">RECIPES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="playlists.html">PLAYLISTS</a>
                </li>
                <li class="nav-item">
                  <form>
                  {% if user.is_authenticated %}
                    {% comment %} <a class="nav-item nav-link" href="connect.html">CONNECT</a> {% endcomment %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}" type="submit" id="header-links"> PROFILE </a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}" type="submit" id="header-links"> LOGOUT </a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'register' %}" type="submit" id="header-links"> CREATE ACCOUNT </a>
                    <a class="nav-item nav-link" href="{% url 'login' %}" type="submit" id="header-links">LOG IN</a>
                  {% endif %}
                </form>
                </li>
            </ul>
        </div>
    </nav>
    {% comment %} <form class="d-flex" id="authstyle">
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Profile </a>
        <a href="{% url 'logout' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Logout </a>
      {% else %}
        <a href="{% url 'register' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Create Account </a>
        <a href="{% url 'login' %}" class="btn" style="color: white; background-color: #fd5e14; margin-left: 10px; "type="submit" id="header-links">Log In</a>
      {% endif %}
      </form> {% endcomment %}
</header>
    {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/in-logo-1.svg' %}" alt="" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Market</a>
              <a class="nav-link" href="#">Company</a>
              <a class="nav-link" href="#">Education</a>
              <a class="nav-link" href="#">Resouces</a>

            </div> {% endcomment %}
            
          {% comment %} </div>
        </div>
    </nav> {% endcomment %}

      <div>
        <div class="container">
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
          {% endfor %}
        {% endif %}
        </div>
        {% block content %}
        {% endblock content %}
      </div>

      <!-- Optional JavaScript; choose one of the two! -->
      {% comment %} <main class="container">
        <div class="home-headline">
            <h1>COCA WOMEN WELLNESS</h1> 
        </div>
    </main> {% endcomment %}

    <!-- The code for the element button has been adapted from a W3School tutorial. Source:[https://www.w3schools.com/howto/howto_js_scroll_to_top.asp]-->
    <button onclick="topFunction()" id="backtoheader" title="Go to top" aria-label="upward arrow scrolls to top" aria-hidden="true"><i class="fas fa-arrow-up"></i></button>
    
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">Hi. Welcome to . How can I help you?</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <input type="text" placeholder="Write a message...">
                  <button class="chatbox__send--footer send__button">Send</button>
              </div>
          </div>
          <div class="chatbox__button">
              <button><img src="{% static 'users/chatbot-frontend/images/chatbox-icon.svg' %}" /></button>
          </div>
      </div>
  </div>
    <!--The class 'home-footer-style' dictates the stylyling of the element (e.g. yellow for the index.html)'-->
    <footer class="home-footer-style" id="footer">
        <div class="sm-links">
            <!--The links opens up a new tab for the destination page-->
            <a href="https://twitter.com/" target="_blank" rel="external" aria-label="twitter-tag" aria-hidden="true" class="fa fa-twitter"></a>
            <a href="https://discord.com/" target="_blank" rel="external" aria-label="discord-tag" aria-hidden="true" class="fab fa-discord"></a>
            <a href="https://www.instagram.com/" target="_blank" rel="external" aria-label="instagram-tag" aria-hidden="true" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/" target="_blank" rel="external" aria-label="youtube-tag" aria-hidden="true" class="fa fa-youtube"></a>
            <a href="https://www.pinterest.co.uk/" target="_blank" rel="external" aria-label="pinterest-tag" aria-hidden="true" class="fa fa-pinterest"></a>
        </div>
        <div id="copyright-style">Copyright<span> &#169; </span> Coca Women Wellness. All Rights Reserved 2021.</div>
    </footer>

    <!--This script has been adapted from a W3School Tutorial. The 'getElementById' condition has been customised by me. Source:[https://www.w3schools.com/howto/howto_js_scroll_to_top.asp]-->
    <script src="users/assets/js/scroll-feature/scroll.js"></script>

    <script src="{% static 'users/chatbot-frontend/chatapp.js' %}"></script>

    <!--Fontawesome script is below, this supports the icons used throughout the website's pages-->
    <script src="https://kit.fontawesome.com/1699136767.js" crossorigin="anonymous"></script>
  
    <!--This script below is linked this way as it links to the local bootstrap js folders on my device and included in this repo. Soucre: [https://getbootstrap.com/docs/4.0/getting-started/introduction/]-->
    <script src="users/assets/js/bootstrap-sourcecode/bootstrap.min.js" crossorigin="anonymous"></script>

    <!--This script has been included to assist with some functionalities on the site as I am using some Bootstrap components. Soucre: [https://getbootstrap.com/docs/4.0/getting-started/introduction/]-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!--This script has been included to assist with the navigation bar, Bootstrap component. Soucre: [https://getbootstrap.com/docs/4.0/getting-started/introduction/]-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
      -->
  </body>
</html>